azure-deploy/infra/Pulumi.test.yaml
**/node_modules/
__azurite_db_table__.json
azure-deploy/config/pulumi.marketing.yaml
mautic/logs/*
azure-deploy/infrastructure/storage/local.php
azure-deploy/config/Pulumi.test.yaml
azure-deploy/infrastructure/storage/config_override.php
.vscode/settings.json
azure-deploy/config/*
.env
.env.secrets
.github/copilot-instructions.md
strapi/.env.development
strapi-staging/.dockerignore
strapi-staging/.env.example
strapi-staging/.gitignore
strapi-staging/.yarnrc.yml
strapi-staging/dev.ts
strapi-staging/Dockerfile.dev
strapi-staging/Dockerfile.prod
strapi-staging/entrypoint.sh
strapi-staging/favicon.png
strapi-staging/package.json
strapi-staging/README.md
strapi-staging/supervisor.conf
strapi-staging/tsconfig.json
strapi-staging/tunnel.ts
strapi-staging/yarn.lock
strapi-staging/config/admin.ts
strapi-staging/config/api.ts
strapi-staging/config/database.ts
strapi-staging/config/middlewares.ts
strapi-staging/config/plugins.ts
strapi-staging/config/server.ts
strapi-staging/config/typescript.ts
strapi-staging/data/data.json
strapi-staging/data/en.json
strapi-staging/data/fr.json
strapi-staging/data/lead-form-submissions.json
strapi-staging/data/uk.json
strapi-staging/data/uploads/a-bug-is-becoming-a-meme-on-the-internet.jpg
strapi-staging/data/uploads/beautiful-picture.jpg
strapi-staging/data/uploads/coffee-art.jpg
strapi-staging/data/uploads/coffee-beans.jpg
strapi-staging/data/uploads/coffee-shadow.jpg
strapi-staging/data/uploads/daviddoe@strapi.io.jpg
strapi-staging/data/uploads/default-image.png
strapi-staging/data/uploads/devices.svg
strapi-staging/data/uploads/favicon.png
strapi-staging/data/uploads/logo.png
strapi-staging/data/uploads/palette.svg
strapi-staging/data/uploads/preview.svg
strapi-staging/data/uploads/sarahbaker@strapi.io.jpg
strapi-staging/data/uploads/the-internet-s-own-boy.jpg
strapi-staging/data/uploads/this-shrimp-is-awesome.jpg
strapi-staging/data/uploads/undraw-content-team.png
strapi-staging/data/uploads/undraw-content-team.svg
strapi-staging/data/uploads/undraw-create-page.svg
strapi-staging/data/uploads/undraw-design-page.svg
strapi-staging/data/uploads/user.png
strapi-staging/data/uploads/we-love-pizza.jpg
strapi-staging/data/uploads/what-s-inside-a-black-hole.jpg
strapi-staging/database/migrations/.gitkeep
strapi-staging/public/robots.txt
strapi-staging/public/uploads/.gitkeep
strapi-staging/scripts/seed.js
strapi-staging/src/bootstrap.ts
strapi-staging/src/index.ts
strapi-staging/src/admin/app.example.tsx
strapi-staging/src/admin/tsconfig.json
strapi-staging/src/admin/vite.config.example.ts
strapi-staging/src/admin/vite.config.ts
strapi-staging/src/api/.gitkeep
strapi-staging/src/api/about/content-types/about/schema.json
strapi-staging/src/api/about/controllers/about.ts
strapi-staging/src/api/about/routes/about.ts
strapi-staging/src/api/about/services/about.ts
strapi-staging/src/api/article/content-types/article/schema.json
strapi-staging/src/api/article/controllers/article.ts
strapi-staging/src/api/article/routes/article.ts
strapi-staging/src/api/article/services/article.ts
strapi-staging/src/api/author/content-types/author/schema.json
strapi-staging/src/api/author/controllers/author.ts
strapi-staging/src/api/author/routes/author.ts
strapi-staging/src/api/author/services/author.ts
strapi-staging/src/api/category/content-types/category/schema.json
strapi-staging/src/api/category/controllers/category.ts
strapi-staging/src/api/category/routes/category.ts
strapi-staging/src/api/category/services/category.ts
strapi-staging/src/api/global/content-types/global/schema.json
strapi-staging/src/api/global/controllers/global.ts
strapi-staging/src/api/global/routes/global.ts
strapi-staging/src/api/global/services/global.ts
strapi-staging/src/api/home-page/content-types/home-page/schema.json
strapi-staging/src/api/home-page/controllers/home-page.ts
strapi-staging/src/api/home-page/routes/home-page.ts
strapi-staging/src/api/home-page/services/home-page.ts
strapi-staging/src/api/lead-form-submission/content-types/lead-form-submission/schema.json
strapi-staging/src/api/lead-form-submission/controllers/lead-form-submission.ts
strapi-staging/src/api/lead-form-submission/routes/lead-form-submission.ts
strapi-staging/src/api/lead-form-submission/services/lead-form-submission.ts
strapi-staging/src/api/page/content-types/page/schema.json
strapi-staging/src/api/page/controllers/page.ts
strapi-staging/src/api/page/routes/page.ts
strapi-staging/src/api/page/services/page.ts
strapi-staging/src/components/.gitkeep
strapi-staging/src/components/elements/feature-column.json
strapi-staging/src/components/elements/feature-row.json
strapi-staging/src/components/elements/feature.json
strapi-staging/src/components/elements/footer-section.json
strapi-staging/src/components/elements/logos.json
strapi-staging/src/components/elements/notification-banner.json
strapi-staging/src/components/elements/plan.json
strapi-staging/src/components/elements/testimonial.json
strapi-staging/src/components/layout/footer.json
strapi-staging/src/components/layout/navbar.json
strapi-staging/src/components/links/button-link.json
strapi-staging/src/components/links/button.json
strapi-staging/src/components/links/link.json
strapi-staging/src/components/meta/metadata.json
strapi-staging/src/components/sections/bottom-actions.json
strapi-staging/src/components/sections/feature-columns-group.json
strapi-staging/src/components/sections/feature-rows-group.json
strapi-staging/src/components/sections/hero.json
strapi-staging/src/components/sections/large-video.json
strapi-staging/src/components/sections/lead-form.json
strapi-staging/src/components/sections/pricing.json
strapi-staging/src/components/sections/rich-text.json
strapi-staging/src/components/sections/testimonials-group.json
strapi-staging/src/components/shared/.gitkeep
strapi-staging/src/components/shared/media.json
strapi-staging/src/components/shared/quote.json
strapi-staging/src/components/shared/rich-text.json
strapi-staging/src/components/shared/seo.json
strapi-staging/src/components/shared/slider.json
strapi-staging/src/extensions/.gitkeep
strapi-staging/src/extensions/documentation/documentation/1.0.0/full_documentation.json
strapi-staging/src/extensions/documentation/public/index.html
strapi-staging/types/generated/components.d.ts
strapi-staging/types/generated/contentTypes.d.ts
