azure-deploy/infra/Pulumi.test.yaml
**/node_modules/
__azurite_db_table__.json
azure-deploy/config/pulumi.marketing.yaml
mautic/logs/*
azure-deploy/infrastructure/storage/local.php
azure-deploy/config/Pulumi.test.yaml
