azure-deploy/infra/Pulumi.test.yaml
**/node_modules/

azure-deploy/infra/Pulumi.test.yaml

__azurite_db_table__.json
azure-deploy/config/pulumi.marketing.yaml
mautic/logs/php_errors.log
azure-deploy/config/Pulumi.dev.yaml
