config:
  location: EastUS2 
  resourceGroupName: marketing-stack
  logAnalyticsCustomerId: 
  storageAccountName: marketingstackstorage 
  registryPassword:
    secure: 
  mysqlAdminPassword:
    secure: 
  acrSkuTier: basic

  # for dev remote access
  ipAddressOrRange: 